div {
    width: 360px;
    border-width: 1px 2px;
    border-style: solid;
    padding: 15px;
    font-size: larger;
}

div:hover {
    background-color: tomato;
}

div:first-of-type {
    border-top: none;
}

div:last-of-type {
    border-bottom: none;
}